#card {
  max-width: 900px;
  margin-bottom: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 0.5rem;
  display: flex;
  // justify-content: s;

  .card-img {
    width: 18rem;
    object-fit: contain;
    border-radius: 0.5rem;
  }

  .card-details {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 55%;
  }

  .title {
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--secondary-color);
  }

  .description {
    font-size: 1rem;
    color: var(--secondary-color);
  }

  .price {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--secondary-color);
  }

  .button-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;
    align-self: flex-end;

    button {
      width: 100px;
      padding: 0.5rem;
      background:rgb(173, 235, 122);
      border: 1px solid rgb(173, 235, 122);
      border-radius: 0.5rem;
      font-size: 0.9rem;
      font-weight: bold;
      cursor: pointer;
    }
  }


}









